@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kumbh+Sans:wght@100..900&family=Lexend+Deca:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tagesschrift&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");

:root {
  --Blue-950: hsl(240, 38%, 20%);
  --Gray-400: hsl(240, 18%, 77%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 32px;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url("../public/images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 80%;
}

.main_testimonial_app {
  /* border: 2px solid blue; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0rem;
}

.testimonials_section {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem;
}

.testimonial_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../public/images/pattern-bg.svg");
  background-position: center;
  background-size: 440px;
  background-repeat: no-repeat;
  /* border: 2px solid yellow; */
  padding: 3.8rem 3.5rem 1rem;
  position: relative;
}

.image_container {
  width: 100%;
  /* border: 2px solid red; */
  border-radius: 10px;
}

.user_profile {
  /* border: 2px solid blue; */
  max-width: 330px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 25px 60px 0px hsla(240, 55%, 14%, 0.547);
}

.button_container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  background-color: white;
  padding: 0.8rem 1rem;
  gap: 1rem;
  border-radius: 30px;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev_button,
.next_button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.prev_button:hover,
.next_button:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}

.testimonial_info {
  /* border: 2px solid green; */
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
  background: url("../public/images/pattern-quotes.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 70px;
  padding: 1rem 0rem 2rem;
}

.testimonial_text {
  padding: 1rem 3rem;
  line-height: 1.4;
  color: var(--Blue-950);
  font-size: 1.5rem;
}

.testimonial_name {
  font-weight: bold;
  font-size: 1.2rem;
  /* font-size: 32px; */
  color: var(--Blue-950);
}

.testimonial_role {
  color: var(--Gray-400);
  font-size: 1.2rem;
  margin-top: 0.5rem;
  /* font-size: 32px; */
}

@media screen and (min-width: 768px) {
  body {
    font-size: 32px;
  }

  .main_testimonial_app {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .testimonials_section {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
  }
}
